.scrollable-box {
  max-height: 380px; 
  height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  background-color: #f9f9f9;
  color: #333;
  text-align: left;
  margin-top: 10px;
  resize: vertical;
}

.dropdown-container {
  max-height: 150px;
  width: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
